<%- include(`partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>

<body>
    <%- include(`partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
<h2>Welcome to<br />Preacher Quotes!</h2>
        </div>
        <div class="rightdiv2">
<h2>Preachers</h2>
<div class="rowcontainer">
<% for(let i = 0; i < preachers.length; i++){ %>
       
        <div class="smallpreacherbox">

<div class="preacherthumbnail">
        <a href="/preachers/<%= preachers[i]._id %>">
<img src="<%= preachers[i].preacherPhoto %>" class="preacherthumbnail"></a>
</div>

            <h4><a href="/preachers/<%= preachers[i]._id %>"><%= preachers[i].firstName %>  
                <%= preachers[i].lastName %></a></h4>
        </div>
        <% } %>
</div>











<h2>Quotes</h2>
<div class="rowcontainer">

        <% for(let i = 0; i < quotes.length; i++){ %>

                <p class="quotetext">
                    <%= quotes[i].quoteText %>
                </p>

<div style="display:flex; flex-direction:column; justify-content: space-between;">

                <a href="/preachers/<%= quotes[i].preacherId %>">
                   
<span class="preachernameunderquote">
                    <% for(let j = 0; j < preachers.length; j++){ 
                        if(preachers[j]._id == quotes[i].preacherId){
                        %>
                        <%= preachers[j].firstName %> <%= preachers[j].lastName %>
                        <% } } %>
               </span></a> 
               <br />
            
        <% } %>
</div>


<h2>Members</h2>
<div class="rowcontainer"><h3>
        <% for(let i = 0; i < users.length; i++){ %>
                    <strong><a href="/users/<%= users[i]._id %>"><%= users[i].displayName %></a></strong> &nbsp;&middot;&nbsp;
                <% } %>
        </h3></div>
        </div>
    </main>

    <%- include(`partials/footer.ejs`) %>