<%- include(`../partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>

<body>
    <%- include(`../partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
<h1> <small class="lightest">PREACHER:</small><br /><%= preacher.firstName %>&nbsp;<%= preacher.lastName %></h1>
        </div>
        <div class="rightdiv">
   
            <section>
            <label>Name:</label>
			 <h3><%= preacher.firstName %>&nbsp;<%= preacher.lastName %></h3>
             <label>Born:</label>
              <h3><%= preacher.yearOfBirth %> - <%= preacher.yearOfDeath %></h3>

             <label>Country:</label>
             <h3><%= preacher.country %></h3>

             

              <label>Quotes:</label>
              <h3>TODO: Add Quotes</h3>
			
		</section>
        </div>
    </main>

    <%- include(`../partials/footer.ejs`) %>






