<%- include(`../partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>

<body>
    <%- include(`../partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
<h1>Edit Quote</h1>
        </div>
        <div class="rightdiv">

<form action="/users/<%= user._id %>?_method=PUT" method="POST">

            <label for="title">Display Name</label>
			<input type="text" name="displayName" value="<%= user.displayName %>" /><br />

            <label for="body">Email</label>
			<input type="text" name="email" value="<%= user.email %>" class="formtextfield"/><br />

			<label for="body">Password</label>
			<input type="text" name="password" value="<%= user.password %>" class="formtextfield" />
            
            <br /><br />

			<input type="submit" value="Save Profile Edits" class="button4" />
		</form>


        </div>
    </main>

    <%- include(`../partials/footer.ejs`) %>






