<%- include(`../partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>

<!-- preacherID: String,
    quoteText: String,
    quoteSourceType: String,
    quoteSourceURL: String, -->

<body>
    <%- include(`../partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
<h1>Quotes</h1>
<br /><br /><br /><br />

        </div>
        <div class="rightdiv">
    <ul>
        <% for(let i = 0; i < quotes.length; i++){ %>


                <p class="quotetext">
                    <%= quotes[i].quoteText %>

                </p>
                <a href="/quotes/<%= quotes[i]._id %>">
                 USer
               </a>
          
            <section>
            <form action="/preachers/<%=quotes[i]._id%>?_method=DELETE" method="POST">

            <a href="/preachers/<%= quotes[i]._id %>/edit" class="button4">Edit</a>
            
                

            </form>
        </section>
        </li>
        <% } %>
    </ul>

        </div>
    </main>

    <%- include(`../partials/footer.ejs`) %>