<%- include(`../partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>

<!-- preacherID: String,
    quoteText: String,
    quoteSourceType: String,
    quoteSourceURL: String, -->

<body>
    <%- include(`../partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
<h1>Quotes</h1>
<br /><br /><br /><br />

        </div>
        <div class="rightdiv">
    <ul>
        <% for(let i = 0; i < quotes.length; i++){ %>

                <p class="quotetext">
                    <%= quotes[i].quoteText %>
                </p>

<div style="display:flex; flex-direction:column; justify-content: space-between;">

                <a href="/preachers/<%= quotes[i].preacherId %>">
                   
<span class="preachernameunderquote">
                    <% for(let j = 0; j < preachers.length; j++){ 

                        if(preachers[j]._id == quotes[i].preacherId){
                        %>

                        <%= preachers[j].firstName %> <%= preachers[j].lastName %>

                        <% } } %>

               </span></a> 
               <br />
            
               Source Type: <%= quotes[i].quoteSourceType %> <br />
               Source URL: <a href="<%= quotes[i].quoteSourceURL %>" target="_blank">
               <%= quotes[i].quoteSourceURL %></a>
          
               <br />
            <section>
            <form action="/quotes/<%=quotes[i]._id%>?_method=DELETE" method="POST">
                <small>
            <a href="/preachers/<%= quotes[i]._id %>/edit" class="button4">Edit</a>
            
            <input type="submit" value="Delete Quote" class="button5" /></small>
            
            </form>
        </section>
       
        </div>
        <% } %>
   

        </div>
    </main>

    <%- include(`../partials/footer.ejs`) %>