<%- include(`../partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>


<!-- preacherID: String,
    quoteText: String,
    quoteSourceType: String,
    quoteSourceURL: String, -->

<body>
    <%- include(`../partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
            <h1>Add a Quote</h1>
        </div>
        <div class="rightdiv">
        <form action="/quotes" method="POST">
            <label>Select Preacher</label>

            <select name="preacherID" class="formselect">
                <% for(let i = 0; i < preachers.length; i++){ %>
                    <option value="hi">
                        <%= preachers[i].firstName %><%= preachers[i].lastName %>
                    </option>
                    <% } %>
            </select>

            <label>Quote</label>
            <textarea type="text" name="quoteText" class="formtextarea"></textarea>

            <label>Source of Quote</label>

            <select name="quoteSourceType" class="formselect">
               
                    <option value="Book">Audio</option>
                    <option value="Book">Book</option>
                    <option value="Book">Video</option>

            </select>

            <label>Title</label>
            <input type="text" name="yearOfDeath" class="formtextfield">

            <label for="email">URL</label>
            <input type="text" name="addedByUserId" class="formtextfield">


            <button type="submit" class="button1">Add Quote</button>
            </form>
        </div>
    </main>

    <%- include(`../partials/footer.ejs`) %>





    firstName: String,
    lastName: String,
    yearOfBirth: String,
    yearOfDeath: String,
    addedByUserId: String,
    preacherPhoto: String,