<%- include(`../partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>

<body>
    <%- include(`../partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
<h1> <%= user.displayName %></h1>
        </div>
        <div class="rightdiv">
   
            <section>
            <label>Display Name:</label>
			 <h3><%= user.displayName %></h3>

             <label>Email Address:</label>
             <h3><%= user.email %></h3>

             <label>Display Name:</label>
              <h3><%= user.password %></h3>
			
		</section>
        </div>
    </main>

    <%- include(`../partials/footer.ejs`) %>






