<%- include(`../partials/header.ejs`) %>
<title>Preacher Quotes</title>
</head>

<body>
    <%- include(`../partials/navbar.ejs`) %>
    <main class="maindiv">
        <div class="leftdiv">
<h1> <%= user.displayName %></h1>
        </div>
        <div class="rightdiv">

    <h2>users > index</h2>
    <ul>
        <% for(let i = 0; i < user.length; i++){ %>
        <li>
            <a href="/user/<%= user._id %>"><%= user.displayName %></a>
          
            <section>
			<a href="/articles/<%=article._id%>/edit">Edit</a>
			<form action="/articles/<%=article._id%>?_method=DELETE" method="POST">
				<input type="submit" value="Delete Article" class="button5" />
			</form>
		</section>
		
        </li>
        <% } %>
    </ul>

        </div>
    </main>

    <%- include(`../partials/footer.ejs`) %>






